/* Add Your Styles Here */
/*---main------*/
.main{
    font-family: Arial, sans-serif;
    margin: 0;

}
.main_header
{
    background: white url("images/technology.JPG")scroll top;
    font-family: Arial, sans-serif;
    background-size: cover;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: right;
}

/*-----navigation----*/
.nav{
    background-color: black;
    overflow: hidden;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    text-decoration: none;
    padding: 15px 30px;
    color:white;
    display: inline-block;
}
.nav ul li a:hover{
    background-color: #879272;
}
.nav ul li a.active{
    background-color:#71b861 ;
}
/*-------Letest news-------*/
.lest_news{
    background-color: black;
    margin-top: 5px;
    animation: news 2s infinite linear;
    color: white;
    overflow: hidden;
    font-size: 18px;
    padding: 7px;
}
@keyframes news {
    0%,50%,100%{background-color: black}
    25%,75%{background-color: #798466}
}
.lest_news p span{
    color: orange;
}
.lest_news p{
    margin: 0;
    animation: par 10s infinite linear;
}
@keyframes par {
    0%{transform: translateX(100%)}
    100%{transform: translateX(-100%)}
    }
/*---------------main content-------*/
.main-content{
    width: 1100px;
    margin-left: 160px;
}
.main-article{
    border: 2px solid black;
    width: 300px;
    height: 550px;
    float: left;
    margin: 8px;
    padding: 10px;
    border-radius: 20px;
    transition: all 1s ;
}
.main-article img{
    align-content: center;
    width: 100%;
}
.main-article p{
    padding:20px;
}
.main-article:hover{
    box-shadow: 0 0 15px;
    width: 310px;
    cursor: pointer;
}
/*------block-------*/
.block{
    clear: both;
}
/*------home-nav-section-------*/
.home-nav-section{
    width: 1100px;
    margin: auto;

}
.home-nav-section h2{
    background: linear-gradient(to right,#757f62,black,#757f62);
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 15px;
}
.zoom{
    width:650px;
    height: 300px;
    margin:auto;
    border-radius: 20px;
    box-shadow: 0 0 15px;
}
.zoom img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    transition: all 2s;
}
.zoom:hover img{
     transform: scale(1.1,1.1);
    cursor: pointer;
    border-radius: inherit;
    box-shadow: 0 0 15px;
}
.zoom p{
    text-align: center;
    padding: 30px;
}
/*-----footer-----*/
.main-footer{
    background: linear-gradient(to right,#757f62,black,#757f62);
    text-align: center;
    padding: 15px;
    color: white;
}
.main-footer p a{
    color: orange;
}
/*------------gallery-------*/
.gallery-section {
    margin-left: 80px;
}
.gallery-article{
    border: 2px solid black;
    width: 270px;
    height: 250px;
    border-radius: 20px;
    padding: 5px;
    margin: 7px;
    float: left;
    overflow: hidden;
}
.gallery-img img{
    width: 270px;
    height: 200px;
    border-radius: 20px;
    transition: all 2s;
}
.gallery-article p{
    text-align: center;
}
.gallery-img img:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0 0 15px black;
}
.about-section{
    margin: 10px;
}
.about-article{
    margin: auto;
    margin-top: 15px;
    width: 990px;
    border-radius: 20px;
    padding: 10px;
    background: white url("images/technology.JPG") no-repeat scroll bottom;
    color: whitesmoke;
    box-shadow: 0 0 15px black;
}
.company-images{
    text-align: center;
}
.company-images img{
    width: 245px;
    height: 150px;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 0 0 15px black;
}
/*------------contact----------------*/
.contact-section{
    background-image: url("img/image5.jpeg");
    padding: 50px;
}
.contact-article{
    width: 250px;
    height: 380px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 0 15px black;
}
.contact-article h2{
    color:white;
    text-align: center;
}
.contact-article input[type="text"],
input[type="password"]{
    text-align: center;
    margin-left: 24px;
    padding: 15px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #71b861;

}
.contact-article input[type="text"]:focus,
input[type="password"]:focus{
    border-bottom: 2px solid teal;
    cursor: pointer;
}
textarea{
    background: transparent;
    margin: 27px;
    border: 2px solid #71b861;
    outline: none;
    color: white;
    width:180px;
}
::placeholder{
    color: white;
    font-size: 17px;
}
button{
    background-color: transparent;
    color: #71b861;
    font-size: 20px;
    border: 2px solid  #71b861;
    padding: 5px 20px;
    text-align: center;
    margin-left: 60px;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
button:hover{
    cursor: pointer;
}